.game-display {
    color: black;
    font-size: 2rem;
    text-align: center;
}

.pokemon-image {
    padding : 0.5em;
    vertical-align: center;
}

.pokemon-image-prev {
    padding: 0;
}

.score-display {
    text-align: left;
}

.instruction-display {
    text-align: right;
}